<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>QR-thing</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="container">
            <div class="nav">
                <a href="/reader">Leser</a>
                <a href="/writer">Skriver</a>
                <a href="/mobile">Mobil</a>
            </div>
            {{{body}}}
        </div>
    </body>
</html>