  
<div class="inner-container">
  <h1>Scan en bestilling</h1>
  <div id="loadingMessage">Får ikke koblet på kamera.. Godkjenn at vi kan se gjennom det!</div>
  <canvas id="canvas"></canvas>
  <form style="display:none;" method="post" action="string-send" id="post-form">
    <input name="qrData" hidden id="qr-data-input-field" />
  </form>
</div>
<script src="/js/jsQR.js"></script>
<script src="/js/main.js"></script>