<h1>Last opp et bilde med QR-kode i</h1>
<form action="qr-upload" method="post" enctype="multipart/form-data" class="inline-form">
    <input type="file" name="filetoupload"><br>
    <input type="submit">
</form>